// SASS variables
$union-gap: 20px
$color-primary: #64889a
$color-label: #555
$color-label-light: #fff
$nav-height: 50px
$container-padding: 20px

// CSS variables
:root
  // Dashboard circle
  --font-family: "Josefin Sans", sans-serif
  --dashboard-circle-radius: 80px
  --dashboard-circle-circumference: calc( 2 * 3.14159 * var(--dashboard-circle-radius) )
  --dashboard-circle-progress: 0.3
