// Imports
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap')
@import './mixins'
@import './variables'
@import './_RWDstyle'

// Reset & base
*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: var(--font-family)
  font-weight: 400
  font-size: 20px
  list-style-type: none
  text-decoration: none
  user-select: none

body, html
  width: 100%
  min-height: 100vh

body
  position: relative
  @include flexCenter
  padding: 20px
  background: url(../images/bg.jpg) no-repeat center center / cover

// Layout 
// Aside nav
aside
  @include bgBlurEffect
  display: flex
  flex-direction: column
  padding: 20px
  margin-right: 50px

  .icon
    @include iconSet
    margin: 20px auto
    font-size: 1.1rem

  #user
    position: relative
    width: 1.4rem
    height: 1.4rem
    margin: 20px auto
    border-radius: 50%
    background:
      image: url(../images/user.png)
      size: 200%
      position: top center
    border: none
    @include btnEffect
    @include pulse

  @include respond-to('mobile')
    display: none

// Container
.container
  @include bgBlurEffect
  width: 80vw
  height: auto
  padding: $container-padding

// Top navbar
.navbar
  width: 100%
  height: $nav-height
  display: flex
  align-items: center
  justify-content: space-between
  margin-top: 10px
  color: $color-label
  gap: $union-gap

  .time
    font-size: 1rem

  .wrapper
    display: flex
    align-items: center
    gap: $union-gap

    &:first-child
      flex: 2

      .secondary-greeting
        display: none

    &:last-child
      flex: 1
      justify-content: flex-end

    input.search
      width: clamp(100px, 100%, 250px)
      height: auto
      padding: 5px 20px
      background-color: rgba($color-primary, 0.3)
      backdrop-filter: blur(5px)
      border: none
      border-radius: 20px

      &:active,
      &:focus,
      &:focus-visible
        border: none
        outline: none

    .menubar
      display: none
    .bell-container
      position: relative
      @include flexCenter
      @include pulse(#d04442, 20px, 0)

    .icon
      @include iconSet
      margin: 20px auto
      border-radius: 50%
      background-color: rgba(78, 113, 90, 0.3)
      backdrop-filter: blur(5px)
      border: none
      padding: 7px

  // Top navbar RWD
  @include respond-to('desktop')
    gap: $mobile-union-gap

    .wrapper
      &:first-child
        flex: 1
        h4.primary-greeting
          display: none
        h4.secondary-greeting
          display: block

      .menuWrap
        display: none

  @include respond-to('mobile')

    .wrapper
      justify-content: center

      &:first-child h4
        display: none

      &:last-child
        position: absolute
        right: $container-padding
        input.search,
        .bell-container
          display: none
        .menubar
          display: block !important
// Content
.content
  width: 100%
  display: flex
  gap: $union-gap
  color: $color-label

  .title
    font-weight: bold
    color: $color-primary

  .variation
    width: 100%
    display: grid
    grid-template-rows: auto 1fr
    gap: $union-gap
    flex: 2

    .settleBoxGroup
      display: flex
      align-items: center
      justify-content: space-between
      gap: $union-gap
      width: 100%

      .settleBox
        width: 100%
        height: 100px
        @include bgBlurEffect
        border-radius: 20px
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-evenly

        i
          margin-right: 5px

        .money
          display: flex
          font-size: 1.2rem
          font-weight: bold

          span
            font-size: 0.8rem
            margin-right: 5px

        hr
          width: 100%
          border: 1px solid #ddd

        .check
          @include flexCenter
          gap: $union-gap
          font-size: 0.8rem

          .icon
            font-size: 0.8rem

    .chartArea
      width: 100%
      @include bgBlurEffect
      border-radius: 20px
      @include flexCenter(column)
      padding: 20px 0 0 0
      overflow: hidden

      .chart
        width: calc(100% - $container-padding)
        aspect-ratio: 16/9

  // Sidebar
  .sidebar
    flex: 1
    position: relative
    display: grid
    grid-template-rows: 1fr 1fr
    gap: $union-gap

    .analytics
      @include bgBlurEffect
      padding: $container-padding
      height: clamp(270px, 270px, 300px)
      display: flex
      flex-direction: column
      align-items: center

      .dashboard
        width: 100%
        height: 100%
        @include flexCenter(column)
        @include circleProgress(var(--dashboard-circle-radius))

      .title
        font-size: 1.2rem

      .subtitle
        font-size: 0.8rem
        margin-top: calc($union-gap / 3)

    .news
      @include bgBlurEffect
      height: clamp(270px, 270px, 300px)
      display: flex
      flex-direction: column
      justify-content: space-between
      border-radius: 20px
      padding: 15px 20px
      background: url(../images/piggybank.svg) no-repeat bottom right / contain

      .title
        font-size: 1.8rem

      .btn
        @include btnEffect
        background-color: $color-primary
        color: #fff
        border: none
        border-radius: 20px
        padding: 5px 10px
        font-size: 1rem

  // Content RWD
  @include respond-to('desktop')
    flex-direction: column

    .variation
      flex: 1

    .sidebar
      grid-template-rows: 1fr
      grid-template-columns: 1fr 1fr

  @include respond-to('tablet')
    .sidebar
      grid-template-rows: 1fr
      grid-template-columns: 1fr

      .news .title
        font-size: 2.5rem

    .variation .settleBox .money
      flex-direction: column
      justify-content: center
      align-items: center
      gap: calc($union-gap / 4)

    .variation .settleBox .check
      align-items: flex-start

  @include respond-to('mobile')
    .variation
      .settleBoxGroup
        flex-direction: column

      .settleBox .check p
        display: none

    .sidebar
      .news .title
        font-size: 1.8rem

      .dashboard .outer,
      .dashboard svg
        margin-top: calc($union-gap * 2)

    .chart
      aspect-ratio: 4/3

// Animations
@keyframes pulse
  70%
    scale: 0
    opacity: 0.8
  100%
    scale: 2
    opacity: 0

@keyframes animate
  from
    stroke-dashoffset: var(--dashboard-circle-circumference)
  to
    stroke-dashoffset: calc(var(--dashboard-circle-circumference) * (1 - var(--dashboard-circle-progress)))
