@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
:root {
  --font-family: "Josefin Sans", sans-serif;
  --dashboard-circle-radius: 80px;
  --dashboard-circle-circumference: calc( 2 * 3.14159 * var(--dashboard-circle-radius) );
  --dashboard-circle-progress: 0.3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  list-style-type: none;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body, html {
  width: 100%;
  min-height: 100vh;
}

body {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: url(../images/bg.jpg) no-repeat center center/cover;
}

aside {
  border: 2px solid #fff;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-right: 50px;
}
aside .icon {
  cursor: pointer;
  transition: 0.3s transform ease;
  position: relative;
  color: #555;
  margin: 20px auto;
  font-size: 1.1rem;
}
aside .icon:active {
  transform: scale(0.9);
}
aside .icon.active {
  color: #64889a;
}
aside #user {
  position: relative;
  width: 1.4rem;
  height: 1.4rem;
  margin: 20px auto;
  border-radius: 50%;
  background-image: url(../images/user.png);
  background-size: 200%;
  background-position: top center;
  border: none;
  cursor: pointer;
  transition: 0.3s transform ease;
}
aside #user:active {
  transform: scale(0.9);
}
aside #user span.pulse {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #60f380;
}
aside #user span.pulse::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 0.1px solid #fff;
  animation: pulse 3s linear infinite;
  transform-origin: center;
  opacity: 0;
  scale: 0;
}
@media screen and (max-width: 425px) {
  aside {
    display: none;
  }
}

.container {
  border: 2px solid #fff;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 80vw;
  height: auto;
  padding: 20px;
}

.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  color: #555;
  gap: 20px;
}
.navbar .time {
  font-size: 1rem;
}
.navbar .wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar .wrapper:first-child {
  flex: 2;
}
.navbar .wrapper:first-child .secondary-greeting {
  display: none;
}
.navbar .wrapper:last-child {
  flex: 1;
  justify-content: flex-end;
}
.navbar .wrapper input.search {
  width: clamp(100px, 100%, 250px);
  height: auto;
  padding: 5px 20px;
  background-color: rgba(100, 136, 154, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: none;
  border-radius: 20px;
}
.navbar .wrapper input.search:active, .navbar .wrapper input.search:focus, .navbar .wrapper input.search:focus-visible {
  border: none;
  outline: none;
}
.navbar .wrapper .menubar {
  display: none;
}
.navbar .wrapper .bell-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.navbar .wrapper .bell-container span.pulse {
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #d04442;
}
.navbar .wrapper .bell-container span.pulse::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 0.1px solid #fff;
  animation: pulse 3s linear infinite;
  transform-origin: center;
  opacity: 0;
  scale: 0;
}
.navbar .wrapper .icon {
  cursor: pointer;
  transition: 0.3s transform ease;
  position: relative;
  color: #555;
  margin: 20px auto;
  border-radius: 50%;
  background-color: rgba(78, 113, 90, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: none;
  padding: 7px;
}
.navbar .wrapper .icon:active {
  transform: scale(0.9);
}
.navbar .wrapper .icon.active {
  color: #64889a;
}
@media screen and (max-width: 1024px) {
  .navbar {
    gap: 10px;
  }
  .navbar .wrapper:first-child {
    flex: 1;
  }
  .navbar .wrapper:first-child h4.primary-greeting {
    display: none;
  }
  .navbar .wrapper:first-child h4.secondary-greeting {
    display: block;
  }
  .navbar .wrapper .menuWrap {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .navbar .wrapper {
    justify-content: center;
  }
  .navbar .wrapper:first-child h4 {
    display: none;
  }
  .navbar .wrapper:last-child {
    position: absolute;
    right: 20px;
  }
  .navbar .wrapper:last-child input.search,
  .navbar .wrapper:last-child .bell-container {
    display: none;
  }
  .navbar .wrapper:last-child .menubar {
    display: block !important;
  }
}

.content {
  width: 100%;
  display: flex;
  gap: 20px;
  color: #555;
}
.content .title {
  font-weight: bold;
  color: #64889a;
}
.content .variation {
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
  flex: 2;
}
.content .variation .settleBoxGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}
.content .variation .settleBoxGroup .settleBox {
  width: 100%;
  height: 100px;
  border: 2px solid #fff;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.content .variation .settleBoxGroup .settleBox i {
  margin-right: 5px;
}
.content .variation .settleBoxGroup .settleBox .money {
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
}
.content .variation .settleBoxGroup .settleBox .money span {
  font-size: 0.8rem;
  margin-right: 5px;
}
.content .variation .settleBoxGroup .settleBox hr {
  width: 100%;
  border: 1px solid #ddd;
}
.content .variation .settleBoxGroup .settleBox .check {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 0.8rem;
}
.content .variation .settleBoxGroup .settleBox .check .icon {
  font-size: 0.8rem;
}
.content .variation .chartArea {
  width: 100%;
  border: 2px solid #fff;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0 0 0;
  overflow: hidden;
}
.content .variation .chartArea .chart {
  width: calc(100% - 20px);
  aspect-ratio: 16/9;
}
.content .sidebar {
  flex: 1;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}
.content .sidebar .analytics {
  border: 2px solid #fff;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 20px;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content .sidebar .analytics .dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content .sidebar .analytics .dashboard .outer, .content .sidebar .analytics .dashboard svg {
  margin-top: 20px;
}
.content .sidebar .analytics .dashboard .outer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: calc(var(--dashboard-circle-radius) * 2);
  height: calc(var(--dashboard-circle-radius) * 2);
  border-radius: 50%;
  background-color: #e3edf7;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.1), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
.content .sidebar .analytics .dashboard .outer .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(var(--dashboard-circle-radius) * 2 - 40px);
  height: calc(var(--dashboard-circle-radius) * 2 - 40px);
  border-radius: 50%;
  background-color: #e3edf7;
  box-shadow: inset 4px 4px 8px -1px rgba(0, 0, 0, 0.1), inset -4px -4px 8px -1px rgba(255, 255, 255, 0.7), inset -2px -2px 4px -1px rgba(255, 255, 255, 0.7), 0 12px 10px -10px rgba(0, 0, 0, 0.1);
}
.content .sidebar .analytics .dashboard .outer .inner .num, .content .sidebar .analytics .dashboard .outer .inner .text {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), -2px -2px 4px rgba(255, 255, 255, 0.7);
}
.content .sidebar .analytics .dashboard .outer .inner .num {
  font-size: 1.2rem;
  font-weight: bold;
}
.content .sidebar .analytics .dashboard .outer .inner .desc {
  font-size: 0.7rem;
}
.content .sidebar .analytics .dashboard svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(var(--dashboard-circle-radius) * 2);
  height: calc(var(--dashboard-circle-radius) * 2);
  z-index: 1;
}
.content .sidebar .analytics .dashboard svg circle {
  cx: calc(var(--dashboard-circle-radius));
  cy: calc(var(--dashboard-circle-radius));
  r: calc(var(--dashboard-circle-radius) - 10px);
  fill: none;
  stroke: url(#GradientColor);
  stroke-linecap: round;
  stroke-width: 20px;
  stroke-dasharray: calc(6.28318 * var(--dashboard-circle-radius));
  stroke-dashoffset: calc(6.28318 * var(--dashboard-circle-radius));
  animation: animate 2s linear forwards;
  transform-origin: center;
  transform: rotate(-90deg);
  transition: stroke-dashoffset 0.3s ease;
}
.content .sidebar .analytics .title {
  font-size: 1.2rem;
}
.content .sidebar .analytics .subtitle {
  font-size: 0.8rem;
  margin-top: 6.6666666667px;
}
.content .sidebar .news {
  border: 2px solid #fff;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  padding: 15px 20px;
  background: url(../images/piggybank.svg) no-repeat bottom right/contain;
}
.content .sidebar .news .title {
  font-size: 1.8rem;
}
.content .sidebar .news .btn {
  cursor: pointer;
  transition: 0.3s transform ease;
  background-color: #64889a;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 1rem;
}
.content .sidebar .news .btn:active {
  transform: scale(0.9);
}
@media screen and (max-width: 1024px) {
  .content {
    flex-direction: column;
  }
  .content .variation {
    flex: 1;
  }
  .content .sidebar {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .content .sidebar {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
  .content .sidebar .news .title {
    font-size: 2.5rem;
  }
  .content .variation .settleBox .money {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .content .variation .settleBox .check {
    align-items: flex-start;
  }
}
@media screen and (max-width: 425px) {
  .content .variation .settleBoxGroup {
    flex-direction: column;
  }
  .content .variation .settleBox .check p {
    display: none;
  }
  .content .sidebar .news .title {
    font-size: 1.8rem;
  }
  .content .sidebar .dashboard .outer,
  .content .sidebar .dashboard svg {
    margin-top: 40px;
  }
  .content .chart {
    aspect-ratio: 4/3;
  }
}

@keyframes pulse {
  70% {
    scale: 0;
    opacity: 0.8;
  }
  100% {
    scale: 2;
    opacity: 0;
  }
}
@keyframes animate {
  from {
    stroke-dashoffset: var(--dashboard-circle-circumference);
  }
  to {
    stroke-dashoffset: calc(var(--dashboard-circle-circumference) * (1 - var(--dashboard-circle-progress)));
  }
}